<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UISupportedExternalAccessoryProtocols</key>
	<array>
		<string>com.squareup.s020</string>
		<string>com.squareup.s025</string>
		<string>com.squareup.s089</string>
		<string>com.squareup.protocol.stand</string>
	</array>
</dict>
</plist>
